<section class="section">
  <div class="container">
    <h1 class="title">
      Cards In Standard Format
    </h1>
    <% if @card.empty? %>
      <p>There are no cards.</p>
    <% else %>
      <% @card.each do |card|%>
      <h2><%= link_to card.name, card %></h2>
      <% end %>
    <% end %>
  </div>
</section>